{% extends "layout.html" %}

{% block page_title %}
  Resolve a dispute
{% endblock %}

{% block innercontent %}
<h1 class="heading-xlarge">
  Resolve a dispute
</h1>

<p class="lede">
  For disputes among companies, there are multiple ways to mediate an agreement. The right one for you depends factors loke the size of your company, your industry and the matter of the dispute. 
</p>

<p>
  The following questions help you identify the best course of action for your current situation. Before you start, you should have available:
</p>

<ul class="list list-bullet">
  <li>Your Companies House login details</li>
  <li>The Companies House number and legal name of the other company</li>
  <li>Dates and details of any contract to do with the dispute</li>
</ul>

<a class="button button-start" href="/solve/step1">Find a dispute resolution</a>
{% endblock %}