{% extends "layout.html" %}

{% block page_title %}
  Resolve a dispute - your company details
{% endblock %}

{% block innercontent %}
<h1 class="heading-xlarge">
  The other company
</h1>


<form method="GET" url="step3">
  <fieldset class="form-group">
    <label class="form-label" for="number">Companies House number</label>
    <input name="number" id="number" type="text" />    
  </fieldset>
  <details>
    <summary class="summary">How can I find the number?</summary>
    <div class="panel panel-border-narrow">
      <p>You can look up the Companies House number for any company on the Companies House website</p>
      <p><a href="https://beta.companieshouse.gov.uk/" target="_blank">Look up Companies House number</a></p>
    </div>
  </details>

  <button type="submit" class="button">Find company</a>
</form>
{% endblock %}
